.rub{
    display: flex;
    flex-direction: column;
    gap: 10px;
}


header{
    display: flex;
    justify-content: center;
    background-color: #7DFF6E;
    align-items: center;
}

footer{
    text-align: center;
}


h1{
    text-align: center;
    padding: 15px;
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

.sig{
    text-align: center;
    grid-column: 1/4;
    padding: 10px;
}
.kl{
    justify-content: center;
    text-align: center;
}
.land{
    text-align: center;
    grid-column: 1/4;
    padding: 10px;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    padding: 0px;
    list-style: none;
}
.mes{
    width: 220px;
    height: auto;
}


.Kön{
    background-color: #7DFF6E;
    border-width: 2px;
    border-style: solid;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 2.5px;
    padding-top: 2.5px;
}
.Stor{
    background-color: #7DFF6E;
    border-width: 2px;
    border-style: solid;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 2.5px;
    padding-top: 2.5px;
}

.Liga{
    background-color: #7DFF6E;
    border-width: 2px;
    border-style: solid;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 2.5px;
    padding-top: 2.5px;
}

img{
    width: 250px;
    height: auto;
}

.ars{
    display: flex;
    flex-direction: column;
    align-items: center;
    p{
        margin: 4px;
        font-weight: bold;
    }
}

.liver{
    display: flex;
    flex-direction: column;
    align-items: center;
    p{
        margin: 4px;
        font-weight: bold;
    }
}

.city{
    display: flex;
    flex-direction: column;
    align-items: center;
    p{
        margin: 4px;
        font-weight: bold;
    }
}
.manutd{
    display: flex;
    flex-direction: column;
    align-items: center;
    p{
        margin: 4px;
        font-weight: bold;
    }
}
.barc{
    display: flex;
    flex-direction: column;
    align-items: center;
    p{
        margin: 4px;
        font-weight: bold;
    }
}
.real{
    display: flex;
    flex-direction: column;
    align-items: center;
    p{
        margin: 4px;
        font-weight: bold;
    }
}
.psg{
    display: flex;
    flex-direction: column;
    align-items: center;
    p{
        margin: 4px;
        font-weight: bold;
    }
}
.milan{
    display: flex;
    flex-direction: column;
    align-items: center;
    p{
        margin: 4px;
        font-weight: bold;
    }
}
.ron{
    display: flex;
    flex-direction: column;
    align-items: center;
    p{
        margin: 4px;
        font-weight: bold;
    }
}
.messi{
    display: flex;
    flex-direction: column;
    align-items: center;
    p{
        margin: 4px;
        font-weight: bold;
    }
}
.zlatan{
    display: flex;
    flex-direction: column;
    align-items: center;
    p{
        margin: 4px;
        font-weight: bold;
    }
}
.mbappe{
    display: flex;
    flex-direction: column;
    align-items: center;
    p{
        margin: 4px;
        font-weight: bold;
    }
}
.sve{
    display: flex;
    flex-direction: column;
    align-items: center;
    p{
        margin: 4px;
        font-weight: bold;
    }
}
.sveb{
    display: flex;
    flex-direction: column;
    align-items: center;
    p{
        margin: 4px;
        font-weight: bold;
    }
}
.spa{
    display: flex;
    flex-direction: column;
    align-items: center;
    p{
        margin: 4px;
        font-weight: bold;
    }
}
.spab{
    display: flex;
    flex-direction: column;
    align-items: center;
    p{
        margin: 4px;
        font-weight: bold;
    }
}
.por{
    display: flex;
    flex-direction: column;
    align-items: center;
    p{
        margin: 4px;
        font-weight: bold;
    }
}
.porb{
    display: flex;
    flex-direction: column;
    align-items: center;
    p{
        margin: 4px;
        font-weight: bold;
    }
}
.arg{
    display: flex;
    flex-direction: column;
    align-items: center;
    p{
        margin: 4px;
        font-weight: bold;
    }
}
.argb{
    display: flex;
    flex-direction: column;
    align-items: center;
    p{
        margin: 4px;
        font-weight: bold;
    }
}
.fra{
    display: flex;
    flex-direction: column;
    align-items: center;
    p{
        margin: 4px;
        font-weight: bold;
    }
}
.frab{
    display: flex;
    flex-direction: column;
    align-items: center;
    p{
        margin: 4px;
        font-weight: bold;
    }
}
.dan{
    display: flex;
    flex-direction: column;
    align-items: center;
    p{
        margin: 4px;
        font-weight: bold;
    }
}
.danb{
    display: flex;
    flex-direction: column;
    align-items: center;
    p{
        margin: 4px;
        font-weight: bold;
    }
}

@media screen and (min-width:768px){
    .rub{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 10px;
}

header{
    display: grid;
    grid-column: 1/4;
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    grid-column: 1/3;
    justify-content: center;
    gap: 20px;
}

.kl{
    justify-content: center;
    text-align: center;
    grid-column: 1/3;
}


ul{
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

main{
    display: grid;
    grid-column: 1/4;
    grid-template-columns: 1fr 1fr;
}

section{
    display: grid;
    grid-column: 1/4;
    grid-template-columns: 1fr 1fr;
}

footer{
    grid-column: 1/3;
}

}

@media screen and (min-width:1024px){

main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}

section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}

}